<div id="page-list"> 
	<div id="page-header">
		<div class="header">
			<div>
				<h4> Danh sách đối tác </h4>
			</div>
			<div class="actions">
				<lib-button 
					(onClick)="createPartnerOrUpdate()" 
					iconType="create" 
                    label="Tạo đối tác"
				/>
			</div>
		</div>
	</div>
	
	<lib-table  
		[rows]="rows" 
		[isLoading]="isLoading" 
		[(page)]="page"
		[columns]="columns"
		[listAction]="listAction" 
		[columnCacheName]="'MainPartnerComponent'" 
		(_onPageChange)="setPage()"
	>
		<lib-table-filter [items]="itemFilters" (_onChange)="setPage($event)" />
	</lib-table>
</div>