/*sidebar*/
:root {
    --rz-sidebar-border-right: none;
    --rz-sidebar-background-color: #FCFBFF;
}

/*panel menu*/
:root {
    --rz-panel-menu-padding: 0;
    --rz-panel-menu-font-size: var(--rz-body-font-size);
    --rz-panel-menu-font-weight: 600;
    --rz-panel-menu-background-color: transparent;
    --rz-panel-menu-hover-background-color: #f4f3fe;
    --rz-panel-menu-hover-color: #6C63F0 !important;
    --rz-panel-menu-focus-outline: var(--rz-outline-focus);
    --rz-panel-menu-focus-outline-offset: calc(-1 * var(--rz-outline-width));
    --rz-panel-menu-item-line-height: 1.25rem;
    --rz-panel-menu-item-padding: 0.75rem 1rem;
    --rz-panel-menu-item-margin: 0;
    --rz-panel-menu-item-border: none;
    --rz-panel-menu-color: #76809B;
    --rz-panel-menu-item-border-radius: 0;
    --rz-panel-menu-item-active-background-color: #f4f3fe;
    --rz-panel-menu-item-background-color: transparent;
    --rz-panel-menu-item-active-color: #6c63f0;
    --rz-panel-menu-item-active-indicator: #6c63f0;
    --rz-panel-menu-item-offset: 0.75rem;
    --rz-panel-menu-item-transition: color var(--rz-transition), background-color var(--rz-transition);
    --rz-panel-menu-2nd-level-vertical-offset: 0;
    --rz-panel-menu-item-2nd-level-padding: 0rem;
    --rz-panel-menu-item-2nd-level-margin: 0;
    --rz-panel-menu-item-2nd-level-border-radius: 0;
    --rz-panel-menu-item-2nd-level-offset: 2.75rem;
    --rz-panel-menu-item-2nd-level-font-size: var(--rz-body-font-size);
    --rz-panel-menu-item-2nd-level-font-weight: 400;
    --rz-panel-menu-item-2nd-level-color: #6C63F0;
    --rz-panel-menu-item-2nd-level-hover-background-color: #f4f3fe;
    --rz-panel-menu-item-2nd-level-background-color: transparent;
    --rz-panel-menu-item-2nd-level-hover-color: inherit;
    --rz-panel-menu-item-2nd-level-active-background-color: none;
    --rz-panel-menu-item-2nd-level-active-color: #6C63F0;
    --rz-panel-menu-item-3rd-level-hover-background-color: #f4f3fe;
    --rz-panel-menu-item-3rd-level-hover-color: inherit;
    --rz-panel-menu-item-3rd-level-active-background-color: none;
    --rz-panel-menu-item-3rd-level-active-color: #6C63F0;
    --rz-panel-menu-icon-width: var(--rz-icon-size);
    --rz-panel-menu-icon-font-size: var(--rz-icon-size);
    --rz-panel-menu-icon-color: #76809B;
    --rz-panel-menu-icon-height: var(--rz-icon-size);
    --rz-panel-menu-icon-margin: 0 0.5rem 0 0;
    --rz-panel-menu-icon-2nd-level-margin: 0 0.625rem 0 -1.625rem;
    --rz-panel-menu-icon-2nd-level-icon-size: calc(var(--rz-icon-size) * 0.8);
    --rz-panel-menu-toggle-icon-font-size: var(--rz-icon-size);
    --rz-panel-menu-toggle-icon-opacity: 0.4;
}