.wrapper-idItem{
  background-color: #000000;
  color: #fff;
}
.wrapper-item{
  border: 1px #000000 solid;
}
.wrapper-batch{
  border: 1px #000000 solid;
}
.canvasQr{
  display: flex;
  justify-content: center;
}