<div class="wrapper-form-dialog">
    <form [formGroup]="postForm" (ngSubmit)="onSumbit()">
        <div class="form-dialog grid m-0">
            <div class="field col-12 mb-2">
                <lib-inputText label="Tên chất liệu" formControlName="name" />
            </div>

            <div class="field col-12 mb-2">
                <lib-inputText label="Code" formControlName="code"></lib-inputText>
            </div>

            <div class="field col-12 mb-2">
                <lib-inputText label="Mô tả" [textarea]="true" formControlName="description"></lib-inputText>
            </div>
        </div>

        <div class="p-dialog-footer custom-dialog-footer">
            <div class="footer-container">
                <ng-container>
                    <lib-button label="Hủy" icon="pi pi-times" styleClass="system-style btn-cancel" (onClick)="close()">
                    </lib-button>
                    <ng-container>
                        <lib-button type="submit" label="Lưu" styleClass="system-style btn-submit">
                        </lib-button>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </form>


</div>