body {
    font-family: 'Inter', 'Roboto', sans-serif;
    background-color: #fff;
}

p {
    color: #b3b3b3;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Inter', 'Roboto', sans-serif;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

    a:hover {
        text-decoration: none !important;
    }

.content {
    padding: 7rem 0;
}

h2 {
    font-size: 20px;
}

.half, .half .container > .row {
    height: 100vh;
    min-height: 700px;
}

@media (max-width: 991.98px) {
    .half .bg {
        height: 200px;
    }
}

.half .contents {
    background: #fff;
}

.half .contents, .half .bg {
    width: 50%;
}

@media (max-width: 1199.98px) {
    .half .contents, .half .bg {
        width: 100%;
    }
}

.half .contents .form-control, .half .bg .form-control {
    border: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    height: 54px;
    background: #fff;
}

    .half .contents .form-control:active, .half .contents .form-control:focus, .half .bg .form-control:active, .half .bg .form-control:focus {
        outline: none;
        -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    }

.half .bg {
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.half .centered-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.half .centered-text {
    margin-top: -10px;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
}

.half .bottom-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.half .logo-login img {
    width: 100%;
    object-fit: cover;
}

.half .title-login {
    color: #344054;
    font-size: 32px;
    font-weight: 700;
}

.half .subtitle-login {
    color: #98A2B3;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 40px;
}

.half .form-group .login-label {
    font-weight: 600;
    font-size: 14px;
    color: #344054;
    margin-bottom: 0.5rem;
}

.half .form-group input {
    border-radius: 8px !important;
    height: 3rem !important;
    border: 1px solid rgba(0, 0, 0, 0.10) !important;
    box-shadow: none !important;
    color: #98A2B3;
    font-size: 14px;
    font-weight: 400;
}


.half a {
    color: #888;
    text-decoration: underline;
}

.half .btn {
    height: 54px;
    padding-left: 30px;
    padding-right: 30px;
}

.half .btn-login {
    background-color: #175CD3;
    color: #fff;
    border-radius: 8px;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
}

    .half .btn-login:focus {
        outline: 0;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

.half .btn-support {
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #fff;
    border-radius: 8px;
    margin-top: 16px;
}

    .half .btn-support:focus {
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.half .forgot-pass {
    position: relative;
    top: 2px;
    font-size: 14px;
}

.password-toggle-icon {
    position: absolute;
    top: 55%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}

    .password-toggle-icon i {
        font-size: 18px;
        color: #333; /* Màu sắc của biểu tượng */
    }

.btn-block {
    display: block;
    width: 100%;
}

.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
}

    .control .caption {
        position: relative;
        top: .1rem;
        color: #344054;
        font-size: 14px;
        font-weight: 600;
    }

.forgot-password-text {
    color: #175CD3;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;
    margin-top: .3rem;
    padding: 8px 16px;
}

.copyright-login {
    margin-top: 147px;
    font-size: 14px;
    font-weight: 600;
    color: #98A2B3;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control__indicator {
    position: absolute;
    top: 2px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #FFF;
    border: 1px solid #D0D5DD;
    border-radius: 4px;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #FFF;
}

.control input:checked ~ .control__indicator {
    background: #0747A6;
}

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #0747A6;
}

.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.9;
    pointer-events: none;
}

.control__indicator:after {
    content: "\2714";
    position: absolute;
    display: none;
    font-size: 14px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.control input:checked ~ .control__indicator:after {
    display: block;
    color: #fff;
}

.control--checkbox .control__indicator:after {
    top: 50%;
    left: 50%;
    margin-top: -1px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked ~ .control__indicator {
    background-color: #0747A6;
    opacity: .2;
}
