@using CR.Constants.Authorization;
@model CR.Core.API.Models.ConsentModel

Chấp thuận
Redirect url: @Model?.ReturnUrl

<form action="/authenticate/consent" method="post">
    <input type="submit" name="grant" value="@ConsentValue.Grant">
    <input type="submit" name="grant" value="@ConsentValue.Deny" />
    <input type="hidden" name="ReturnUrl" value="@Model?.ReturnUrl" />
</form>